.git
.gitignore
.dvc
.dvcignore
data/
models/
mlruns/
predicciones.db
medico.db
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
dist/
*.egg-info/
.env
.venv
env/
.DS_Store
.pytest_cache/
.coverage
htmlcov/